<html lang="en">
    <title>Hello Python</title>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body bgcolor='pink'>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ลำดับที่</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>เบอร์โทร</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in datas %}
                  <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <!-- <td>{{row.2}}</td>
                    <td>{{row.3}}</td> -->
                    <td>
                      <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="">Edit</a>
                      <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
                    </td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
              <a href="/student" class="btn btn-primary">เพิ่มรายชื่อใหม่</a>
            <center><h1>Hello Python_Flask framework</h1></center>
        
        </div>
            
    </body>
</html>